<hr>
  <h1>Guardar consola</h1>
  <div class="row justif-content-center">
    <div *ngIf="guardandoConsola" class="col-12">
      <form [formGroup]="consola" (ngSubmit)="guardar()">
        <input class="form-control" placeholder="Nombre" formControlName="nombre">
        <br>
        <input class="form-control" placeholder="URL de la imagen" formControlName="imagen">
        <br>
        <textarea class="form-control" placeholder="Ficha técinca" formControlName="ficha" rows="10"></textarea>
        <br>
        <div formArrayName="juegos">
          <div *ngFor="let juego of juegos.controls; index as i" [formGroupName]="i">
            <div class="form-group row">
              <input class='form-control' placeholder="Nombre" formControlName="nombre">
              <br>
              <input class='form-control' placeholder="Imagen de portada" formControlName="portada">
              <br>
              <input class='form-control' placeholder="Developer" formControlName="developer">
              <br>
              <input class='form-control' placeholder="Lanzamiento" formControlName="lanzamiento">
              <div>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-block"> Guardar </button>
      </form>
    </div>
  </div>
<hr>
